// Tema 1
.cajon.color-secundario
  background-color: rgba(#B9CAF9, 0.5)

.esp2
  margin-left: 40px

.pos12
  margin: 0 auto

.gris
 background-color: #F4F4F4

.slyder-a__tipo-b .slyder-a__bullets
  bottom: 0px
.slyder-a__bullets__item--active
  background-color: #0CCBC3 !important
  border-color: #0CCBC3 !important
.slyder-a__bullets__item
  background-color: #FFFFFF
  height: 31px
  width: 31px
.slyder-a__tipo-b .slyder-a__btn--sigt
  background-color: #BDE038
.slyder-a__tipo-b .slyder-a__btn--atrs
  background-color: #BDE038

.til
  margin-top: 40px
  text-align: center

.bg-amarillo-claro
  background-color: #BAEAE8

  
.texto-seis-alt
  position: relative
  p
    margin-left: 20px
  &:before
    content: ' '
    display: block
    width: 4px
    height: 21px
    background-color: #FED981
    position: absolute
    left: 0
    top: 0
  &.color-primario
    &:before
      background-color: $color-primario
  &.color-secundario
    &:before
      background-color: $color-secundario
  &.color-acento-contenido
    &:before
      background-color: $color-acento-contenido
  &.color-acento-botones
    &:before
      background-color: $color-acento-botones

.fondo-7
  background-image: url('../assets/curso/tema1/fondo.svg')
  background-size: 100%
  background-position: center
  background-repeat: no-repeat
  margin-top: -4rem